<html>
<h3><center>Cine Hub</center>  </h3>
<body>
    <center>
    <br><br><br>
    <h3> Admin Login </h3>
<form name="login" action="/logincheck" method="post">
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Login    <input type="tex" name ="lname" required="true"><br>
       Password <input type="password" name ="pwd" required="true"> <br>
    <input type="Submit" name="submit" value="Login"> <br></center>
</form>

</body>

</html>