<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Movie_Insertion</title>
</head>
<body>
   
    <h2>Insert movies</h2>
    <form method="post" name="Insertmovie" action="/Insert_movie">
        <label for "Movie_name">Movie_name: </label>
        <input type="text" id="Movie_name" name="Movie_name" required><br><br>
        <label for "Director_name">Director_name: </label>
        <input type="text" id="Director_name" name="Director_name" required><br><br>
        <label for "Upload_movie_video">Upload_movie_video: </label>
        <input type="file" id="Upload_movie_video" name="Upload_movie_video" required><br><br>
        <label for "Duration">Duration: </label>
        <input type="time" id="Duration" name="Duration" required><br><br>
        <label for "Movie_pic">Movie_pic: </label>
        <input type="file" id="Movie_pic" name="Movie_pic" required><br><br>
        <label for "Actor_name">Actor_name: </label>
        <input type="text" id="Actor_name" name="Actor_name" required><br><br>
        <label for "Genre">Genre: </label>
        <input type="text" id="Genre" name="Genre" required><br><br>
        <label for "Movie_releasedate">Movie_releasedate: </label>
        <input type="date" id="Movie_releasedate" name="Movie_releasedate" required><br><br>
        <label for "Movie_language">Movie_language: </label>
        <select name="Movie_language" id="Movie_language">
            <option value="Select">Select</option>
            <option value="Telugu">Telugu</option>
            <option value="Hindi">Hindi</option>
            <option value="English">English</option>
            </select><br><br>
        <label for "Movie_rating">Movie_rating: </label>
        <input type="text" id="Movie_rating" name="Movie_rating" required><br><br>
        <!-- <label for "Created_date">Created_date: </label>
        <input type="time" id="Created_date" name="Created_date" required><br><br> -->
        <label for "Created_by">Created_by: </label>
        <input type="text" id="Created_by" name="Created_by" required><br><br>
        <label for "Video_defination">Video_defination: </label>
        <input type="text" id="Video_defination" name="Video_defination" required><br><br>
        <label for "Movie_status">Movie_status: </label>
        <input type="text" id="Movie_status" name="Movie_status" required><br><br>
        <label for "Movie_description">Movie_rating: </label>
        <input type="text" id="Movie_description" name="Movie_description" required><br><br>
        <label for "Movie_clips_name">Movie_clips_name: </label>
        <input type="text" id="Movie_clips_name" name="Movie_clips_name" required><br><br>
        <label for "Movie_clips_videos">Movie_clips_videos: </label>
        <input type="text" id="Movie_clips_videos" name="Movie_clips_videos" required><br><br>
       

        <input type="submit" value="submit">

    </form>
</body>
</html>