*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section{
    width: 100%;
    height: 100vh;
    background: #171717;
}

section nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5% 8px 5%;
    margin-bottom: 20px;
    background: #171717;
}

section nav .logo h1{
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}

section nav .logo h1 span{
    color: #ffe100;
    margin-left: 8px;
    text-decoration: underline;
}

section nav .right ul{
    list-style: none;
}

section nav .right ul li{
    display: inline-block;
    margin: 0 5px;
}

section nav .right ul li a{
    color: #fff;
    text-decoration: none;
    transition: 0.4s;
}

section nav .right ul li a:hover{
    color: #ffe100;
}

html::-webkit-scrollbar {
  width: 0.5rem;
  background:#171717;
}

html::-webkit-scrollbar-thumb {
  background: #FFD700;
}

.swiper {
    width: 95%;
    height: 85%;
    border-radius: 20px;
    overflow: hidden;
  }

  .swiper::selection{
    user-select: none;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide .image .black{
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to bottom, rgba(0,0,0,0.0),rgba(0,0,0,0.9));
  }

  .swiper-slide .image .black h1{
    font-size: 30px;
    text-align: left;
    position: relative;
    top: 60%;
    left: 5%;
    color: #fff;
  }

  .swiper-slide .image .black .star{
    color: #ffd500;
    text-align: left;
    font-size: 16px;
    margin: 10px 0;
    position: relative;
    top: 60%;
    left: 5%;
  }

  .swiper-slide .image .black p{
    width: 550px;
    text-align: justify;
    font-size: 16px;
    color: #cccccc;
    margin: 10px 0;
    position: relative;
    top: 60%;
    left: 5%;
    line-height: 23px;
    font-family: "Ink Free";
  }

  .swiper-slide .image .black .genre{
    text-align: left;
    font-size: 16px;
    margin: 13px 0;
    position: relative;
    top: 60%;
    left: 5%;
  }

  .swiper-slide .image .black .genre a.category{
    background: #282931;
    text-decoration: none;
    color: #cccccc;
    padding: 2px 7px;
  }

  .swiper-slide .image .black .genre a.category span{
    color: #ffe100;
  }

  .swiper-slide .image .black .watch{
    width: 700px;
    text-align: left;
    display: flex;
    font-size: 16px;
    margin: 10px 0;
    position: relative;
    top: 60%;
    left: 5%;
  }

  .swiper-slide .image .black .watch i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #ffe100;
    border-radius: 50%;
    cursor: pointer;
  }

  .swiper-slide .image .black .watch p{
    position: relative;
    left: 15px;
    font-family: sans-serif;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }

  


/*--------------*/

.second{
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 25px;
  background: #171717;
}

.second .latest{
  width: 95%;
  margin: 0 auto;
}

.second .latest h1{
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}

.second .latest .box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.second .latest .box .card{
  width: 250px;
  height: 370px;
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;
}

.second .latest .box .card .details{
  width: 250px;
  height: 370px;
  overflow: hidden;
  position: absolute;
  border-radius: 8px;
  transition: 0.3s;
  opacity: 0;
}


.second .latest .box .card:hover .details{
  opacity: 1;
  background: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.7));
}

.second .latest .box .card .details .left{
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateX(-100px);
  transition: 0.4s;
  opacity: 0;
}

.second .latest .box .card:hover .details .left{
  opacity: 1;
  transform: translateX(0);
}

.second .latest .box .card .details .left p.name{
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
}

.second .latest .box .card .details .left .date_quality{
  display: flex;
  align-items: center;
}

.second .latest .box .card .details .left .date_quality p.quality{
  width: 30px;
  font-size: 13px;
  background: #ffe100;
  color: #282931;
  margin-left: 10px;
  margin-bottom: 8px;
  text-align: center;
  font-weight: bold;
}

.second .latest .box .card .details .left .date_quality p.date{
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 8px;
}

.second .latest .box .card .details .left p.category{
  margin-left: 10px;
  font-size: 13px;
  margin-bottom: 8px;
}

.second .latest .box .card .details .left .info{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.second .latest .box .card .details .left .info .rate{
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.second .latest .box .card .details .left .info .rate i{
  font-size: 12px;
  color: #ffd500;
  margin-right: 5px;
}

.second .latest .box .card .details .left .info .rate p{
  font-size: 12px;
}

.second .latest .box .card .details .left .info .time{
  display: flex;
  align-items: center;
}

.second .latest .box .card .details .left .info .time i{
  font-size: 12px;
  color: #ffd500;
  margin-left: 5px;
}

.second .latest .box .card .details .left .info .time p{
  font-size: 12px;
  margin-left: 5px;
}

.second .latest .box .card .details .right{
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  transform: translateX(100px);
  transition: 0.4s;
  opacity: 0;
}

.second .latest .box .card:hover .details .right{
  opacity: 1;
  transform: translateX(0);
}

.second .latest .box .card .details .right i{
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  background-color: #ffe100;
  border-radius: 50%;
  cursor: pointer;
  color: #282931;
  margin: 0 10px 8px 0;
}

.second .latest .box .card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}




/*---------*/

.upcoming{
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 25px;
  background-color: #171717;
}

.upcoming .movies_box{
  width: 95%;
  margin: 0 auto;
}

.upcoming .movies_box h1{
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}
.upcoming .movies_box .box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upcoming .movies_box .box .card{
  width: 250px;
  height: 370px;
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;
}

.upcoming .movies_box .box .card .details{
  width: 250px;
  height: 370px;
  overflow: hidden;
  position: absolute;
  border-radius: 8px;
  transition: 0.3s;
  opacity: 0;
}

.upcoming .movies_box .box .card:hover .details{
  opacity: 1;
  background: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.7));
}

.upcoming .movies_box .box .card .details .left{
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateX(-100px);
  transition: 0.4s;
  opacity: 0;
}

.upcoming .movies_box .box .card:hover .details .left{
  opacity: 1;
  transform: translateX(0);
}

.upcoming .movies_box .box .card .details .left p.name{
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
}

.upcoming .movies_box .box .card .details .left .date_quality{
  display: flex;
  align-items: center;
}

.upcoming .movies_box .box .card .details .left .date_quality p.quality{
  width: 30px;
  font-size: 13px;
  background: #ffe100;
  color: #282931;
  margin-left: 10px;
  margin-bottom: 8px;
  text-align: center;
  font-weight: bold;
}

.upcoming .movies_box .box .card .details .left .date_quality p.date{
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 8px;
}

.upcoming .movies_box .box .card .details .left p.category{
  margin-left: 10px;
  font-size: 13px;
  margin-bottom: 8px;
}

.upcoming .movies_box .box .card .details .left .info{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.upcoming .movies_box .box .card .details .left .info .time{
  display: flex;
  align-items: center;
}

.upcoming .movies_box .box .card .details .left .info .time i{
  font-size: 12px;
  color: #ffd500;
  margin-left: 5px;
}

.upcoming .movies_box .box .card .details .left .info .time p{
  font-size: 12px;
  margin-left: 5px;
}

.upcoming .movies_box .box .card .details .right{
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  transform: translateX(100px);
  transition: 0.4s;
  opacity: 0;
}

.upcoming .movies_box .box .card:hover .details .right{
  opacity: 1;
  transform: translateX(0);
}

.upcoming .movies_box .box .card .details .right i{
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  background-color: #ffe100;
  border-radius: 50%;
  cursor: pointer;
  color: #282931;
  margin: 0 10px 8px 0;
}

.upcoming .movies_box .box .card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}




/*----------*/

.show{
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 25px;
  background-color: #171717;
}

.show .tv_show{
  width: 95%;
  margin: 0 auto;
}

.show .tv_show h1{
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}

.show .tv_show .box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.show .tv_show .box .card{
  width: 250px;
  height: 370px;
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;
}

.show .tv_show .box .card .details{
  width: 250px;
  height: 370px;
  overflow: hidden;
  position: absolute;
  border-radius: 8px;
  transition: 0.3s;
  opacity: 0;
}

.show .tv_show .box .card:hover .details{
  opacity: 1;
  background: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.7));
}

.show .tv_show .box .card .details .left{
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateX(-100px);
  transition: 0.4s;
  opacity: 0;
}

.show .tv_show .box .card:hover .details .left{
  opacity: 1;
  transform: translateX(0);
}

.show .tv_show .box .card .details .left p.name{
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
}

.show .tv_show .box .card .details .left .date_quality{
  display: flex;
  align-items: center;
}

.show .tv_show .box .card .details .left .date_quality p.quality{
  width: 30px;
  font-size: 13px;
  background: #ffe100;
  color: #282931;
  margin-left: 10px;
  margin-bottom: 8px;
  text-align: center;
  font-weight: bold;
}

.show .tv_show .box .card .details .left .date_quality p.date{
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 8px;
}

.show .tv_show .box .card .details .left p.category{
  margin-left: 10px;
  font-size: 13px;
  margin-bottom: 8px;
}

.show .tv_show .box .card .details .left .info{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.show .tv_show .box .card .details .left .info .rate{
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.show .tv_show .box .card .details .left .info .rate i{
  font-size: 12px;
  color: #ffd500;
  margin-right: 5px;
}

.show .tv_show .box .card .details .left .info .rate p{
  font-size: 12px;
}

.show .tv_show .box .card .details .left .info .time{
  display: flex;
  align-items: center;
}

.show .tv_show .box .card .details .left .info .time i{
  font-size: 12px;
  color: #ffd500;
  margin-left: 5px;
}

.show .tv_show .box .card .details .left .info .time p{
  font-size: 12px;
  margin-left: 5px;
}

.show .tv_show .box .card .details .right{
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  transform: translateX(100px);
  transition: 0.4s;
  opacity: 0;
}

.show .tv_show .box .card:hover .details .right{
  opacity: 1;
  transform: translateX(0);
}

.show .tv_show .box .card .details .right i{
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  background-color: #ffe100;
  border-radius: 50%;
  cursor: pointer;
  color: #282931;
  margin: 0 10px 8px 0;
}

.show .tv_show .box .card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}




.newsletter{
  width: 100%;
  height: auto;
  padding: 0 0 40px 0;
  background-color: #171717;
}

.newsletter h1{
  text-align: center;
  color: #ffe100;
}

.newsletter .news_card{
  width: 550px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.newsletter .news_card input{
  width: 550px;
  height: 55px;
  margin-top: 20px;
  border-radius: 35px;
  border: 3px solid #ffe100;
  padding: 0 10px;
  outline: none;
  background: none;
  color: #cccccc;
}

.newsletter .news_card button{
  position: absolute;
  right: 0;
  width: 100px;
  height: 45px;
  border-radius: 25px;
  margin-top: 20px;
  margin-right: 8px;
  border: 0;
  outline: none;
  background-color: #ffe100;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}


p.end{
  background: #171717;
  text-align: center;
  color: #cccccc;
  padding: 15px 0;
}

p.end span{
  color: #ffe100;
}

p.end span i{
  margin: 0 8px;
}

.play-container {
  position: relative;
  min-height: 540px;
  margin-top: 5rem !important;
}

.play-img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  object-position: center;
  z-index: -1;
}

.play-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px;
  background: linear-gradient(
    8deg,
    hsl(240 17% 14% / 74%) 14%,
    hsl(240 17% 14% / 14%) 44%,
  );
}

.play-text h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
}

.rating {
  display: flex;
  align-items: center;
  column-gap: 2px;
  font-size: center;
  color:#ffd500;
  margin-top: 4px;
}

.tags {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin: 1rem 0;
  color: #ffffff;
}

.tags span {
  background:#171717 ;
  padding: 0 4px;
}

.watch-btn {
  color:#ffffff;
}

.play-movie {
  position: absolute;
  bottom: 18rem;
  right: 10rem;
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background:#ffe100;
  font-size: 24px;
  animation: animate 2s linear infinite;
}

@keyframes animate{
  0% {
    box-shadow:  0 0 0 0 rgb(255, 180, 58, 0.7);
  }
  40% {
    box-shadow: 0 0 0 50px rgb(255, 193, 7, 0);
  }
  80% {
    box-shadow: 0 0 0 50px rgb(255, 193, 7, 0);
  }
  100% {
    box-shadow: 0 0 0 rgb(255, 193, 7, 0);
  }
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: hsl(234 10% 20% / 60%);
  z-index: 400;
}

.video-container.show-video {
  display: flex;
}

.video-box {
  position: absolute;
  width: 82%;
}

.video-box #myvideo {
  width: 100%;
  aspect-ratio: 16/9;
}

.close-video {
  position: absolute;
  top: -rem;
  right: 0;
  font-size: 20px;
  color:#ffe100;
} 

/* about movie */
.about-movie {
  margin-top: center;
  background:#171717;
  color: #ffffff;
  height:auto;
  width:auto;
}
.about-movie h1 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #FFD700;
  background-color: #171717;
}
.about-movie p {
  max-width: 600px;
  font-size: 1rem;
  margin: 10px 0;
}
.cast-heading {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #FFD700;
}

.cast {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(150px,150px));
  gap: 1rem;
}

.cast-img {
  width: 150px;
  height: 180px;
  object-fit: cover;
  object-position: center;
}

.download {
  max-width: 800px;
  width: 1005;
  margin: auto;
  display: grid;
  justify-content: center;
  margin-top: 2rem;
  background-color: #171717;
  height: auto;
}

.download-title {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 1.6rem 0;
  color: #FFD700;
}

.download-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 2rem;
}

.download-links a {
  text-align: center;
  background:#FFD700;
  padding: 12px 24px;
  color:#171717;
  letter-spacing: 1px;
  font-weight: 500;
}

.download-links a:hover {
  background:#ffffff;
}

.play-container {
  position: relative;
  min-height: 540px;
  margin-top: 5rem !important;
}

.play-img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  object-position: center;
  z-index: -1;
}

.play-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px;
  background: linear-gradient(
    8deg,
    hsl(240 17% 14% / 74%) 14%,
    hsl(240 17% 14% / 14%) 44%,
  );
}

.play-text h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
}

.rating {
  display: flex;
  align-items: center;
  column-gap: 2px;
  font-size: center;
  color:#ffd500;
  margin-top: 4px;
}

.tags {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin: 1rem 0;
  color: #ffffff;
}

.tags span {
  background:#171717 ;
  padding: 0 4px;
}

.watch-btn {
  color:#ffffff;
}

.play-movie {
  position: absolute;
  bottom: 18rem;
  right: 10rem;
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background:#ffe100;
  font-size: 24px;
  animation: animate 2s linear infinite;
}

@keyframes animate{
  0% {
    box-shadow:  0 0 0 0 rgb(255, 180, 58, 0.7);
  }
  40% {
    box-shadow: 0 0 0 50px rgb(255, 193, 7, 0);
  }
  80% {
    box-shadow: 0 0 0 50px rgb(255, 193, 7, 0);
  }
  100% {
    box-shadow: 0 0 0 rgb(255, 193, 7, 0);
  }
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: hsl(234 10% 20% / 60%);
  z-index: 400;
}

.video-container.show-video {
  display: flex;
}

.video-box {
  position: absolute;
  width: 82%;
}

.video-box #myvideo {
  width: 100%;
  aspect-ratio: 16/9;
}

.close-video {
  position: absolute;
  top: -rem;
  right: 0;
  font-size: 20px;
  color:#ffe100;
} 

/* about movie */
.about-movie {
  margin-top: center;
  background:#171717;
  color: #ffffff;
  height:auto;
  width:auto;
}
.about-movie h1 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #FFD700;
  background-color: #171717;
}
.about-movie p {
  max-width: 600px;
  font-size: 1rem;
  margin: 10px 0;
}
.cast-heading {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #FFD700;
}

.cast {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(150px,150px));
  gap: 1rem;
}

.cast-img {
  width: 150px;
  height: 180px;
  object-fit: cover;
  object-position: center;
}

.download {
  max-width: 800px;
  width: 1005;
  margin: auto;
  display: grid;
  justify-content: center;
  margin-top: 2rem;
  background-color: #171717;
  height: auto;
}

.download-title {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 1.6rem 0;
  color: #FFD700;
}

.download-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 2rem;
}

.download-links a {
  text-align: center;
  background:#FFD700;
  padding: 12px 24px;
  color:#171717;
  letter-spacing: 1px;
  font-weight: 500;
}

.download-links a:hover {
  background:#ffffff;
}