<html>

<body>
<form name="login" action="/login" method="post">
    Login Name <input type="tex" name ="lname"> <br>
    Login Name <input type="password" name ="pwd"><br>
    <input type="Submit" name="submit" value="Login"> 
</form>

</body>

</html>